@model MyASPApp.Models.Trainer;
@{
    ViewData["Title"] = "Detail Trainer";
}

<div class="row">
    <div class="col-md-8">
        <h2>Detail Trainer</h2>
        <p>Id: @Model.Id, Name: @Model.Name, Expertise: @Model.Expertise</p>
    </div>
</div>