@model IEnumerable<MyASPApp.Models.Trainer>
@{
    ViewData["Title"] = "Get All Trainer";
}

@section StyleSheet{
<link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
}

<h1 class="mt-4">Daftar Trainer</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a asp-action="Index">Homepage</a></li>
    <li class="breadcrumb-item active">Daftar Trainer</li>
</ol>
<div class="card mb-4">
    <div class="card-body">
        <p class="mb-0">
            @Html.Raw(ViewData["pesan"])
            <a asp-action="Add" class="btn btn-primary btn-xs">Tambah Data Trainer</a><br />
        <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Expertise</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Expertise</th>
                    </tr>
                </tfoot>
                <tbody>
                        @foreach (var item in @Model)
                        {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.Name</td>
                            <td>@item.Expertise</td>
                        </tr>
                        }
                </tbody>
            </table>
        </div>

        </p>
    </div>
</div>

@section Scripts{
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
<script src="~/startbootstrap/js/datatables-simple-demo.js"></script>
}
