@{
    
}

<h2>Form Registrasi Trainer</h2>

<div>
    <form asp-action="Registrasi">
        <label>Nama :</label>
        <input type="text" name="nama" /><br/>
        <label>Course: </label>
        <input type="text" name="course" />
        <br/>
        <input type="submit" value="Submit" />
    </form>
</div>